<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/quotes"></ion-back-button>
    </ion-buttons>
    <ion-title> Fun facts</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-buttons class="ion-justify-content-center">
    <ion-button routerLink="/quotes" color="secondary" fill="solid"> Quotes

    </ion-button>
  </ion-buttons><br>
  <ion-img src="https://cdn.quotesgram.com/small/96/79/322233589-funny-jackson-stiles-teen-wolf-Favim_com-2738624.jpg"></ion-img>
</ion-content>